In [1]:
import pandas as pd

In [5]:
impeach_df = pd.read_csv("impeach.csv")

impeach_df is now a data frame

In [6]:
impeach_df.columns

Index(['Senator', 'State', 'Article1', 'Article2', 'Guilt', 'Party',
       'Conservatism', 'Clinton', 'Reelection', 'FirstTerm'],
      dtype='object')

columns just gives column names, but head gives a picture of the data frame

In [8]:
impeach_df.head()

,Senator,State,Article1,Article2,Guilt,Party,Conservatism,Clinton,Reelection,FirstTerm
0,shelby,AL,0,1,1,1,92,43,2004,0
1,sessions,AL,1,1,2,1,100,43,2002,1
2,murkowsk,AK,1,1,2,1,68,34,2004,0
3,stevens,AK,0,1,1,1,58,34,2002,0
4,kyl,AZ,1,1,2,1,96,47,2000,1

In [9]:
impeach_df.index = impeach_df['Senator']

In [10]:
impeach_df.head()

,Senator,State,Article1,Article2,Guilt,Party,Conservatism,Clinton,Reelection,FirstTerm
Senator,,,,,,,,,,
shelby,shelby,AL,0,1,1,1,92,43,2004,0
sessions,sessions,AL,1,1,2,1,100,43,2002,1
murkowsk,murkowsk,AK,1,1,2,1,68,34,2004,0
stevens,stevens,AK,0,1,1,1,58,34,2002,0
kyl,kyl,AZ,1,1,2,1,96,47,2000,1

In [13]:
impeach_df.loc["sessions"]

Senator         sessions
State                 AL
Article1               1
Article2               1
Guilt                  2
Party                  1
Conservatism         100
Clinton               43
Reelection          2002
FirstTerm              1
Name: sessions, dtype: object

In [14]:
impeach_df.loc[["sessions", "thurmond"]]

,Senator,State,Article1,Article2,Guilt,Party,Conservatism,Clinton,Reelection,FirstTerm
Senator,,,,,,,,,,
sessions,sessions,AL,1,1,2,1,100,43,2002,1
thurmond,thurmond,SC,1,1,2,1,96,44,2002,0

In [15]:
conservatism_scores = impeach_df["Conservatism"]

In [16]:
conservatism_scores

Senator
shelby       92
sessions    100
murkowsk     68
stevens      58
kyl          96
           ...
rockefel      8
feingold      8
kohl         20
enzi         88
thomas       84
Name: Conservatism, Length: 100, dtype: int64

In [17]:
average_conservatism = conservatism_scores.mean()

In [20]:
print("The average conservatism score for US Senators in 1998 was", average_conservatism)

The average conservatism score for US Senators in 1998 was 47.31

In [23]:
impeach_df.loc["ashcroft"]["Article1"]

1

In [24]:
murkowski_names = [name for name in impeach_df["Senator"] if "mu" in name]

In [25]:
murkowski_names

['murkowsk', 'murray']

In [26]:
impeach_df.loc["murkowsk"]

Senator         murkowsk
State                 AK
Article1               1
Article2               1
Guilt                  2
Party                  1
Conservatism          68
Clinton               34
Reelection          2004
FirstTerm              0
Name: murkowsk, dtype: object

Lisa Murkowski was **not** a first term senator in 1998

***Questions***

1. What state did Daniel Patrick Moynahan represent?

In [29]:
mo_names = [name for name in impeach_df["Senator"] if "mo" in name]

In [30]:
mo_names

['moynihan', 'thurmond']

In [31]:
impeach_df.loc["moynihan"]

Senator         moynihan
State                 NY
Article1               0
Article2               0
Guilt                  0
Party                  0
Conservatism          12
Clinton               59
Reelection          2000
FirstTerm              0
Name: moynihan, dtype: object

**Moynahan represented New York State**

2. What was the standard deviation of the conservatism score for senators in 1998? (Hint: use the "std" command to get the standard deviation.)

In [32]:
conservatism_scores.std()

37.477992195285736

3.  Which of Tennessee's two senators was ranked as more conservative in 1998: Thompson or Graham?

In [53]:
impeach_df[75:100]

,Senator,State,Article1,Article2,Guilt,Party,Conservatism,Clinton,Reelection,FirstTerm
Senator,,,,,,,,,,
specter,specter,PA,0,0,0,1,32,49,2004,0
chafee,chafee,RI,0,0,0,1,24,60,2000,0
jackreed,jackreed,RI,0,0,0,0,0,60,2002,1
hollings,hollings,SC,0,0,0,0,8,44,2004,0
thurmond,thurmond,SC,1,1,2,1,96,44,2002,0
daschle,daschle,SD,0,0,0,0,4,43,2004,0
johnson,johnson,SD,0,0,0,0,12,43,2002,1
frist,frist,TN,1,1,2,1,72,48,2000,1
thompson,thompson,TN,0,1,1,1,88,48,2002,1
gramm,gramm,TX,1,1,2,1,100,44,2002,0
kaybhut,kaybhut,TX,1,1,2,1,92,44,2000,1
bennett,bennett,UT,1,1,2,1,68,33,2004,0
hatch,hatch,UT,1,1,2,1,68,33,2000,0
jeffords,jeffords,VT,0,0,0,1,21,54,2000,0
leahy,leahy,VT,0,0,0,0,13,54,2004,0
robb,robb,VA,0,0,0,0,4,45,2000,0
warner,warner,VA,0,1,1,1,80,45,2002,0
gorton,gorton,WA,0,1,1,1,60,51,2000,0
murray,murray,WA,0,0,0,0,0,51,2004,0
byrd,byrd,WV,0,0,0,0,16,51,2000,0
rockefel,rockefel,WV,0,0,0,0,8,51,2002,0
feingold,feingold,WI,0,0,0,0,8,49,2004,0
kohl,kohl,WI,0,0,0,0,20,49,2000,0
enzi,enzi,WY,1,1,2,1,88,37,2002,1
thomas,thomas,WY,1,1,2,1,84,37,2000,1

In [57]:
conservatism_scores[["thomas", "graham"]]

Senator
thomas    84
graham     8
Name: Conservatism, dtype: int64

**Thomas had a much higher conservatism score**

4.  What percentage of the vote did Bill Clinton receive in New York in the 1996 election?

In [69]:
impeach_df.index = impeach_df['State']

In [73]:
impeach_df.loc['NY']

,Senator,State,Article1,Article2,Guilt,Party,Conservatism,Clinton,Reelection,FirstTerm
State,,,,,,,,,,
NY,moynihan,NY,0,0,0,0,12,59,2000,0
NY,schumer,NY,0,0,0,0,19,59,2004,1

**It appears Clinton got 59% of the vote**

5. Bonus: Senator Kay Bailey Hutchison is not coded as "hutchison". Using any method, find the row that corresponds to Kay Bailey Hutchinson. Describe the method you used.

In [74]:
impeach_df.index = impeach_df['Senator']

In [75]:
hu_names = [name for name in impeach_df["Senator"] if "hu" in name]

In [76]:
hu_names

['timhutch', 'schumer', 'thurmond', 'kaybhut']

**Kay Bailey Hutchison's name appears to be kaybhut**